@import "./variables.css";

/* Navbar */
.navbar {
  position: sticky;
  top: 0;
  z-index: 9;
  background: var(--light);
  box-shadow: 0 0 20px 0 #0002;
}
.navbar .navbar-brand {
  width: 200px;
}
.navbar .navbar-nav {
  gap: 20px;
  align-items: center;
}
.navbar .nav-link {
  font-size: 16px;
  font-weight: 600;
  color: var(--dark);
  transition: 0.5s ease all;
  position: relative;
  border-radius: 3px;
  text-transform: capitalize;
}
.navbar .nav-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 2px;
  border-radius: 5px;
  transform: translateX(-50%);
  margin: 0;
  border: 0;
  background: var(--primary);
  transition: 0.5s ease all;
}
.navbar .nav-link:hover {
  color: var(--dark);
  background: var(--light-alt);
}
.navbar .nav-link:hover::after {
  width: 30px;
}
.navbar .nav-link.nav-btn {
  padding: 13px 20px;
  background: var(--light);
  color: var(--primary);
  border: 1px solid var(--primary);
  border-radius: 5px;
}
.navbar .nav-link.nav-btn:hover {
  background: var(--primary);
  border-color: var(--primary);
  color: var(--light);
}
.navbar .nav-link.nav-btn::after {
  display: none;
}
.navbar .dropdown .dropdown-menu {
  border: 0;
  background: var(--light);
  padding: 15px;
  border-radius: 0;
  border-top: 2px solid var(--primary);
  box-shadow: 0 0 20px 0 #0002;
}
.navbar .dropdown .dropdown-menu .dropdown-item {
  padding: 10px 15px;
  font-size: 16px;
  font-weight: 600;
  transition: 0.5s ease all;
}
.navbar .dropdown .dropdown-menu .dropdown-item:hover,
.navbar .dropdown .dropdown-menu .dropdown-item:active,
.navbar .dropdown .dropdown-menu .dropdown-item:focus {
  background: var(--light-alt);
  color: var(--dark);
}

/* Hero */
.hero {
  position: relative;
  padding: 80px 0;
}
.hero .video {
  position: relative;
  width: 45%;
  margin: auto 0 auto auto;
}
.hero .video video {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}
.hero .container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.hero .text h6 {
  font-size: 16px;
  font-weight: 700;
  color: var(--secondary);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
  text-transform: capitalize;
}
.hero .text h6 .badge {
  background: var(--secondary);
  padding: 10px 15px;
  border-radius: 50px;
  font-size: 12px;
}
.hero .text h2 {
  font-size: 35px;
  font-weight: 600;
  color: var(--dark);
  line-height: 140%;
}
.hero .text h2 span {
  font-size: 70px;
  font-weight: 800;
  display: block;
  line-height: 150%;
}
.hero .text p {
  font-size: 20px;
  font-weight: 600;
  color: var(--dark-alt);
}
.hero .text .button-group {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
}
.hero .text .button-alt {
  border-color: var(--light);
  padding: 15px 20px;
}
.hero .text .button-alt i {
  color: var(--secondary);
}
.hero .text .button-alt:hover {
  border-color: var(--light-alt);
  background: var(--light-alt);
}

/* Clients */
.clients .client-grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}
.clients .client-grid .item {
  width: 170px;
}

/* Products */
.products .product-card {
  border: 0;
  background: transparent;
  text-align: center;
  position: relative;
  height: 100%;
  border-radius: 10px;
  transition: 0.5s ease all;
  cursor: pointer;
}
.products .product-card .icon {
  width: 130px;
  height: 130px;
  border-radius: 100%;
  background: var(--secondary);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  position: relative;
  z-index: 1;
}
.products .product-card .icon img {
  width: 90px;
  filter: drop-shadow(5px 5px 5px #0002);
}
.products .product-card h5 {
  font-size: 25px;
  font-weight: 700;
  text-transform: capitalize;
  line-height: 140%;
  margin-bottom: 15px;
  color: var(--dark);
  transition: 0.5s ease all;
}
.products .product-card p {
  transition: 0.5s ease all;
}
.products .product-card::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 60px);
  background: var(--light);
  border-radius: 10px;
  box-shadow: 0 0 30px 0 #eff4ff;
  transition: 0.5s ease all;
}
.products .product-card .card-body {
  position: relative;
  z-index: 1;
  padding: 20px 30px 30px 40px;
}
.products .product-card:hover {
  transform: translateY(-10px);
}
.products .product-card:hover::after {
  background: var(--primary);
}
.products .product-card:hover h5 {
  color: var(--light);
}
.products .product-card:hover p {
  color: var(--light-alt);
}

/* Risk */
.risk {
  position: relative;
}
.risk .pattern {
  position: absolute;
  bottom: 50px;
  left: -75px;
  width: 200px;
}
.risk .pattern-alt {
  position: absolute;
  top: 150px;
  right: 70px;
  width: 150px;
  transform: rotate(45deg);
}
.risk .container {
  position: relative;
  z-index: 1;
}
.risk .image {
  width: 100%;
  max-width: 450px;
  margin: auto;
}
.risk .sub-heading span {
  background: linear-gradient(
    to top right,
    var(--dark),
    var(--primary),
    var(--secondary)
  );
  padding: 10px;
  display: inline-block;
  border-radius: 5px;
  color: var(--light);
  font-size: 16px;
  text-shadow: 2px 2px #0002;
}
.risk .nav-pills {
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: sticky;
  top: 120px;
}
.risk .nav-link {
  padding: 10px 20px;
  display: block;
  width: 100%;
  text-align: left;
  border: 1px solid var(--primary);
  font-size: 16px;
  font-weight: 600;
  color: var(--dark);
  background: var(--light);
  transition: 0.5s ease all;
}
.risk .nav-link.active {
  background: var(--primary);
}
.risk .card {
  border: 0;
}
.risk .card img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.risk .card .card-body {
  padding: 0;
}
.risk .card .text {
  position: absolute;
  bottom: 15px;
  right: 15px;
  width: 80%;
  background: var(--light);
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 0 30px 0 #0002;
}
.risk .card .text h5 {
  font-size: 20px;
  font-weight: 700;
  color: var(--primary);
  margin-bottom: 10px;
}

/* Points */
.points .image {
  width: 250px;
}
.points .items {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.points .items .item {
  padding: 30px;
  background: var(--light);
  border-radius: 10px;
  box-shadow: 0 0 30px 0 #0001;
}
.points .items .item h6 {
  font-size: 20px;
  font-weight: 700;
  color: var(--dark);
  margin-bottom: 10px;
  text-transform: capitalize;
}
.points .box {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 15px;
}
.points .box .icon {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  background: #b9ebf7;
  box-shadow: 2px 5px 10px #0002;
  display: flex;
  align-items: center;
  justify-content: center;
}
.points .box .icon img {
  width: 50px;
}
.points .box .text {
  width: calc(100% - 115px);
}
.points .box .text h6 {
  font-size: 20px;
  font-weight: 700;
  margin: 15px 0 10px 0;
  color: var(--primary);
}

/* Counter */
.counter .card {
  position: relative;
  border: 0;
  background: transparent;
  height: 100%;
}
.counter .card .image {
  position: absolute;
  top: -50px;
  left: 0;
  width: 40%;
}
.counter .card .card-body {
  width: 75%;
  margin: 50px 0 0 auto;
  position: relative;
  z-index: 1;
  background: linear-gradient(to top right, var(--primary), var(--secondary));
  padding: 30px;
  border-radius: 10px;
}
.counter .card .items {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  text-align: center;
}
.counter .card .items .item {
  background: #301993;
  padding: 20px;
  border-radius: 5px;
}
.counter .card .items .item i {
  font-size: 30px;
  color: var(--light);
}
.counter .card .items .item h5 {
  font-size: 30px;
  font-weight: 800;
  color: var(--light);
  margin: 15px 0;
}
.counter .card .items .item h6 {
  font-size: 16px;
  font-weight: 700;
  color: var(--light);
  opacity: 0.7;
}
.counter .card p {
  color: var(--light);
  text-align: center;
  margin-top: 30px;
}

/* About */
.about {
  position: relative;
  padding: 80px 0;
}
.about .item {
  padding: 30px;
  background: var(--light);
  border-radius: 10px;
  box-shadow: 0 0 30px 0 #6700ff17;
  height: 100%;
}
.about .item h5 {
  font-size: 18px;
  font-weight: 700;
  color: var(--dark);
  margin-bottom: 10px;
}
.about .item h5 span {
  font-size: 30px;
  font-weight: 800;
  margin-right: 5px;
  color: var(--secondary);
}
.about .item h6 {
  font-size: 16px;
  font-weight: 600;
  color: var(--dark);
  line-height: 130%;
}

/* Footer */
.footer .logo {
  width: 200px;
}
.footer h6 {
  border-top: 3px solid var(--light);
  padding: 15px 0;
  font-size: 20px;
  font-weight: 700;
  color: var(--light);
}

/* Responsive */
@media (max-width: 1400px) {
}
@media (max-width: 1300px) {
}
@media (max-width: 1200px) {
}
@media (max-width: 1199px) {
}
@media (max-width: 992px) {
}
@media (max-width: 850px) {
}
@media (max-width: 767px) {
  .g-5,
  .gx-5 {
    --bs-gutter-x: 0 !important;
  }
}
@media (max-width: 600px) {
}
